// Variables

*{
    
    box-sizing: border-box;
    $font-family-sans-serif:
  // Safari for macOS and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for macOS (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  Roboto,
  // Basic web fallback
  "Helvetica Neue", Arial,
  // Linux
  "Noto Sans",
  "Liberation Sans",
  // Sans serif fallback
  sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}
html {
    background:url('../css/free-diego-AM53LSIBnRo-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;

}

main {
    
    //flex-direction: row;
    align-content: center;
}

body {
    opacity: 0.8;
}

h1 {
    text-align: center;
    margin: 1.5rem;
    padding: 1.5rem;
}


.currentWeather{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

div.card{
    background-color:lightblue;
}
.card {
    align-items: center;
}
.card-img-top {
    height: 5em;
    width: 5em;
    border: none;
}

.cardForecast {
    flex-wrap: wrap;
    width: max-content;
}

/*
.historySec {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    margin: 0.5em;
}   
*/
.historyBtn {
    display: inline-flex;
    align-content: center;
    width: 12em;
    height: 2.5em;
    font-size: 0.8em;
    margin: 0.5em;
    
}
